.col-lg-3.col-sm-4.col-xs-6
  %a{:href => "#", :title => item.name }
    %img.thumbnail.img-responsive{:src => item.primary_image }
  .caption
    %b=item.name
    %p=item.description
    %p
      = form_tag charges_path do
        %script.stripe-button{"data-label" => "$#{item.price} Buy", "data-amount" => "#{item.price}00", "data-description" => item.name, "data-key" => Rails.configuration.stripe[:publishable_key], :src => "https://checkout.stripe.com/checkout.js"}
        %a.btn.btn-default{:href => item.details_link, :role => "button"} Product Details
  .secondary-images.hidden
    - item.secondary_image_urls.each do |image_url|
      %img.img-responsive{:src => image_url}
