.container
  .row
    %h1 Bootstrap 3 Lightbox using Modal
    .row
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 1"}
          %img.thumbnail.img-responsive{:src => "http://i38.photobucket.com/albums/e133/Rukuro/IMG_0044_2.jpg"}
          .secondary-images.hidden
          .caption
            %b Thumbnail label
            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            %p
              %a.btn.btn-primary{:href => "#", :role => "button"} #{content_tag(:strong, "$$$")} Buy
              %a.btn.btn-default{:href => "#", :role => "button"} Product Details
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Herman Miller Aeron Computer Chair"}
          %img.thumbnail.img-responsive{:src => "http://i38.photobucket.com/albums/e133/Rukuro/IMG_0023_2.jpg"}
          .secondary-images.hidden
            %img.thumbnail.img-responsive{:src => "http://i38.photobucket.com/albums/e133/Rukuro/IMG_0025_2.jpg"}
            %img.thumbnail.img-responsive{:src => "http://i38.photobucket.com/albums/e133/Rukuro/IMG_0024_2.jpg"}
            %img.thumbnail.img-responsive{:src => "http://i38.photobucket.com/albums/e133/Rukuro/IMG_0027_2.jpg"}
            %img.thumbnail.img-responsive{:src => "http://i38.photobucket.com/albums/e133/Rukuro/IMG_0026_2.jpg"}
        .caption
          %b Herman Miller Aeron Computer Chair
          %p Upgraded version of the chairs in the Tennessee LP office. #{content_tag(:strong, "Includes:")}
          %ul
            %li Tilt Limiter with Seat Angle Adjustment
            %li Adjustable Arms
            %li Black Leather Armpads
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} #{content_tag(:strong, "$200")} Buy
            %a.btn.btn-default{:href => "http://store.hermanmiller.com/Products/Aeron-Chair", :role => "button"} Product Details
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 3"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/449955/FFF"}/
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 4"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/992233"}/
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 5"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/2255EE"}/
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 6"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/449955/FFF"}/
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 8"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/777"}/
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 9"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/992233"}/
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 10"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/EEE"}/
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 11"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/449955/FFF"}/
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 12"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/DDD"}/
      .col-lg-3.col-sm-4.col-xs-6
        %a{:href => "#", :title => "Image 13"}
          %img.thumbnail.img-responsive{:src => "//placehold.it/600x350/992233"}/
#myModal.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title.text-center
      .modal-body
        #modalCarousel.carousel
          .carousel-inner
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"} Close
