.container
  .row
    - if flash[:notice]
      .notice.alert.alert-success.text-center
        = flash[:notice]
    %h1.text-center !ยก Garage Sale ยก!
    .row
      - @items.each do |item|
        = render :partial => 'item', locals: {item: item}

#myModal.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ร
        %h3.modal-title.text-center
      .modal-body
        #modalCarousel.carousel
          .carousel-inner
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"} Close
